
.body{
    font-family: 'Alegreya', serif;
}


/* Nav bar */
.nav-wrapper{
        box-shadow: 0px 6px 13px 4px rgba(54,104,141, 0.4);
      
}

.nav-wrapper, .sidenav{
    background-color: #36688d;
}

nav ul a, nav .brand-logo, nav .sidenav-trigger i, .sidenav li>a{
    color: #f3dc05;
}

nav .sidenav-trigger i{
    font-size: 2.1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #f3dc05;
}

#homepageHeader{
    background-color: #BDA589;
}


/* Re-used classes */
.hidden{
    display: none;
}

/* Text */
p, label, ::placeholder {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.5rem 0;
}

p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    margin-bottom: 0;
}

hr {
    margin-top: 1.5rem;
    width: 60%;
    color: #f3dc05;
}

.page-header{
    margin-top: 2rem;
    margin-left: 2vw;
    margin-right: 2vw;
}

.page-info{
    margin: 5vw;
}

/* Forms */

.form-wrapper{
    margin: 10vw 5vw 0 5vw;
}

.form-wrapper-search{
    margin: 13vw 0 0 0;
}

.select-wrapper+label{
    font-size: 16px;
    top: -40px;
}

.input-field{
    margin-top: 2rem;
    
}

.input-field-search{
    margin-top: 4rem;
    
}

.input-field .dateLabel{
    top: -1rem;
}


.final-input{
    margin-bottom: 1rem;
}

textarea.materialize-textarea{
    padding: 1rem 0 0 0;
}

.input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-16px) scale(1);
    transform: translateY(-16px) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


/* Containers */

.page-container{
    min-height: 79vh;
    margin-bottom: 1.5rem;
}


.row {
    margin-bottom: 0;
}

/* Components */

/* Button */
.btn{
   
    color: #36688d;
    background-color: #f3cd05;
    margin: 1rem 0 0 0;
   
}

.btn-add-report{
    margin: 1rem 0;
}

.btn:hover{
    background-color: #000;
}


.btn i{
    vertical-align: bottom;
}


#settingButton{
    float: right;
    color: #36688d;
}

#settingButtonIcon{
    padding: 3vw;
    font-size: 36px;

}

/* Collapsible */
.collapsible {
    margin: 5vw;
}

.collapsible-header{
    background-color:#f3cd05;
    color: #36688d;
    border-bottom: 1px solid #36688d;
}

.collapsible-header a, .dropdown-content li>span{
     color: #36688d;
}

.collapsible-body{
    background-color:#36688d;
}


/* Home */

header {
    background-color: rgb(175, 175, 174);
} 

.card-panel {
    font-size: 18px;
    background-color: #36688d;
    color:#f3cd05;
    margin: 4vw; 
}

#compareSearch, #orSearch{
    display: block;
}


.comparisonPickValues{
    margin: 30px;
}


.searchForm label{
    display: block;
}

.signature {
    font-style: italic;
    font-size: 18px;
}

#meetTheTeam {
    margin-top: 1.5rem;
}

#team-info-wrapper-Chris {
    margin-bottom: 2rem;
}

/* Add report */



/* Search Report */


/* Dashboard */

.dashboard{
    background-color: #BDA589; 
    margin: 0;
    padding: 0;
    min-height: 90vh
    
}

.dashboard h3{
    margin: 0;
    padding: 24px 0 24px 16px;
}



.input-field, .input-field textarea, input, ::placeholder, .input-field label, form label, form a {
    color: #f3cd05;
    font-family: 'Alegreya', serif;

}

 .input-field input[type=text]:focus {
     border-bottom: 1px solid #f3cd05;
     box-shadow: 0 1px 0 0 #f3cd05;
   }

.select-wrapper input.select-dropdown, textarea.materialize-textarea, input[type=text]:not(.browser-default) {
    border-bottom: 1px solid #f3cd05;
}





/* Search db reports page */


    

/* Footer */



footer {
    background-color:  #36688d;
    color:#f3dc05;
    bottom: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}

.footerContact{
    display: block;
    
}

footer p{
    margin: 0;
    display: inline-block;
    
}

#footerHeader{
    font-size: 20px;
    margin-bottom: 0.5rem;
    
}

#footerTel, #footerEmail {
    display: none;  
}

footer i {
    display: inline-block;
    vertical-align: bottom;
}

#copyWrapper{
    margin-top: 0.5rem;
}