
.body{
    font-family: 'Alegreya', serif;
}

/* Colours */

.nav-color, .sidenav, .card-panel, footer, .collapsible-body, .collapsible-header, .btn, .datepicker-table td.is-selected, .datepicker-date-display {
    background-color: #595775;
}

.text-color, .sidenav li>a, .card-panel, footer, .btn, .collapsible-header  {
    color: #fcfaf8;
}

.page-header, .page-info, .userDashHeader, .page-info-user-dash {
    color: #583E2E;
}


.page-container{
    background-color: #f1e0d6;
}

body, .page-colour, .collapsible-body{
        background-color: #fcfaf8;
}

hr{
     
    border-color:#fcfaf8 ;
}


.collapsible-header{
    border: 1px solid #fff;
}

.select-wrapper input.select-dropdown, textarea.materialize-textarea, input[type=text]:not(.browser-default), .input-field input[type=text]:focus, input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]){
      border-bottom: 1px solid #595775;
}

.input-field, .input-field textarea, input, ::placeholder, .input-field label, form label, form a, #settingButtonIcon, .dropdown-content li>a, .dropdown-content li>span, .datepicker-table td.is-today, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color: #595775;
    font-weight: 700;
}

.input-field input[type=text]:focus, input[type=email]:not(.browser-default):focus:not([readonly]),  input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #595775;
     box-shadow: 0 1px 0 0 #595775;
   }







/* Nav bar */
.nav-wrapper{
        box-shadow: 0px 6px 13px 4px rgba(89,87,117, 0.4);
      
}

.nav-wrapper, .sidenav{
    
    text-align: center;
   
}

.sidenav li>a:hover, .nav-wrapper a:hover {
    text-decoration: underline;
}


.sidenav{
     width: 180px;
}

.first-nav-link{
margin-top: 26px;
}




nav ul a,  nav .sidenav-trigger i, .sidenav li>a{
    font-size: 18px;
     
}



nav .sidenav-trigger i{
    font-size: 2.1rem;
}




/* Re-used classes */
.hidden{
    display: none;
}

/* Text */
p, label, ::placeholder {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.5rem 0;
}

p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    margin-bottom: 0;
}

hr {
    margin-top: 1.5rem;
    width: 60%;
}

.page-header{
    margin-top: 2rem;
    margin-left: 2vw;
    margin-right: 2vw;
}

.page-info{
    margin: 5vw;
}

.page-info-user-dash{
     margin: 9vw;
}

.input-field .login-form, .input-field .login-form ::placeholder{
    font-size: 2rem;
}



/* Forms */

.form-wrapper{
    margin: 10vw 5vw 0 5vw;
}



.form-wrapper-search{
    margin: 16vw 0 0 0;
}

.form-search-all{
    margin: 0;
}

.select-wrapper+label{
    font-size: 16px;
    top: -40px;
}

.input-field{
    margin-top: 2rem;
    
}

.input-field-search, .input-field-login, .input-field-signup, .input-field-manage-reports{
    margin-top: 4rem;
    
}

.input-field .dateLabel{
    top: -1rem;
}


.final-input{
    margin-bottom: 1rem;
}

textarea.materialize-textarea{
    padding: 1rem 0 0 0;
}

.input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-16px) scale(1);
    transform: translateY(-16px) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


.input-field>.login-form:not(.label-icon).active{
    -webkit-transform: translateY(-32px) scale(1);
    transform: translateY(-32px) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/* Containers */

.page-container{
    min-height: 79vh;
    padding-bottom: 1rem;
    
}


.row {
    margin-bottom: 0;
}

/* Components */

/* cards */

.card {
    margin-top: 1rem;
    padding: 1rem 1rem 2rem 1rem;
}

/* Button */
.btn{
       margin: 1rem 0 0 0;
   
}

.btn-with-extra-margin{
    margin: 1rem 0;
}

.btn-wrapper{
    text-align: center;
}

.btn:hover{
    background-color: #000;
}


.btn i{
    vertical-align: bottom;
}


#settingButton{
    text-align: right;
    color: #36688d;
}

#settingButtonIcon{
    padding: 3vw;
    font-size: 36px;

}

.button-space-margin{
    margin-left: 2vw;
}



/* Icons */

i {
    margin-right: 5px;
}

/* Collapsible */
.collapsible {
    margin: 6.5vw 5vw 5vw 5vw;
}

.collapsible-header{
   
  
    font-size: 18px;
}



.collapsible-body{
    
    padding: 1rem 2rem;
}

/* Datepicker */ 

.datepicker-table td.is-today{
    background-color: lightgray;
}

/* Home */

header {
    background-color: rgb(175, 175, 174);
} 

.card-panel {
    font-size: 18px;
    margin: 4vw; 
}

#compareSearch, #orSearch{
    display: block;
}


.comparisonPickValues{
    margin: 30px;
}


.searchForm label{
    display: block;
}

.signature {
    font-style: italic;
    font-size: 18px;
}

#meetTheTeam {
    margin-top: 1.5rem;
}

#team-info-wrapper-Chris {
    margin-bottom: 2rem;
}

/* Add report */



/* Search Report */

/* Login */

.login-form-wrapper{
    margin-bottom: 14vw;
}

.login-button {
    font-size: 18px;
}


/* Signup page */



#seePassword {
    margin-right: 5vw;
    display: inline-block;
    
}

#confirmPasswordText{
    font-size: 18px;
}

.signup-button{
    font-size: 18px;
    margin: 2rem 0 1rem 0;
}

/* Dashboard */

.dashboard{
    background-color: #BDA589; 
    margin: 0;
    padding: 0;
    min-height: 90vh
    
}

.dashboard h3{
    margin: 0;
    padding: 24px 0 24px 16px;
}



.input-field, .input-field textarea, input, ::placeholder, .input-field label, form label, form a {
    font-family: 'Alegreya', serif;

}

 



.collapsible-dash {
    margin: 5.5vh 5vw 1vh 5vw;
}
/*  Add date and location pages */





/* Search db reports page */

.result-info-wrapper{
    padding: 2vw;
}

.result-info{
    margin: 0;
}

.result-info-separator{
    margin: 1rem;
}

/* Search result page */

.search-again{
    margin: 10vw 5vw 0 5vw;
}

/* User delete */

.collapsible-body-delete{
    display: block;
}

/* User modify */

.input-field-smaller-margin{
    margin-top: 1rem;
}

/* Settings Page */

.settings-header h5{
    text-align: center;
    margin: 0.5rem;
}

.settings-header i {
    vertical-align: bottom;
}

.settings-collapsible{
    margin: 8vh 5vw 5vh 5vw;
}

.settings-message{
    margin: 0;
}

/* Footer */



footer {
  
    bottom: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}

.footerContact{
    display: block;
    
}

footer p{
    margin: 0;
    display: inline-block;
    
}

#footerHeader{
    font-size: 20px;
    margin-bottom: 0.5rem;
    
}

#footerTel, #footerEmail {
    display: none;  
}

footer i {
    display: inline-block;
    vertical-align: bottom;
}

#copyWrapper{
    margin-top: 0.5rem;
}