
.body{
    font-family: 'Alegreya', serif;
}

/* Colours */

.nav-color, .sidenav, .card-panel, footer, .collapsible-header, .btn, .datepicker-table td.is-selected, .datepicker-date-display {
    background-color: #595775;
}

.text-color, .sidenav li>a, .card-panel, footer, .btn, .collapsible-header  {
    color: #fcfaf8;
}

.page-header, .page-info, .userDashHeader, .page-info-user-dash h5, .result-info, .flashMessage{
    color: #583E2E;
    font-weight: 700;
}


.page-container{
    background-color: #f1e0d6;
}

body, .page-colour, .collapsible-body{
        background-color: #fcfaf8;
}

.collapsible-body-result, .collapsible-body-delete {
    background-color: #aba6bf;
}

hr{
     
    border-color:#595775 ;
}

.purpose-hr{
     border-color:#fff ;
}

.collapsible-header{
    border: 1px solid #fff;
}

.select-wrapper input.select-dropdown, textarea.materialize-textarea, input[type=text]:not(.browser-default), .input-field input[type=text]:focus, input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), .select-wrapper input.select-dropdown:focus, textarea.materialize-textarea:focus:not([readonly]){
      border-bottom: 1px solid #595775;
}

.input-field, .input-field textarea, input, ::placeholder, .input-field label, form label, form a, #settingButtonIcon, .dropdown-content li>a, .dropdown-content li>span, .datepicker-table td.is-today, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color: #595775;
    font-weight: 700;
}

textarea{
    color: #595775;
    font-weight: 500;
}

.input-field input[type=text]:focus, input[type=email]:not(.browser-default):focus:not([readonly]),  input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #595775;
     box-shadow: 0 1px 0 0 #595775;
   }

.btn:hover, .btn:focus {
    background-color: #aba6bf;

}

[type="checkbox"]:checked+span:not(.lever):before{
    border-right: 2px solid #595775;
    border-bottom: 2px solid #595775;

}


/* Nav bar */

nav{
    height: 8.4vh;
}
.nav-wrapper{
        box-shadow: 0px 6px 13px 4px rgba(89,87,117, 0.4);
      
}

.nav-wrapper, .sidenav{
    
    text-align: center;
   
}

.sidenav li>a:hover, .nav-wrapper a:hover {
    text-decoration: underline;
}


.sidenav{
     width: 180px;
}

.first-nav-link{
margin-top: 26px;
}




nav ul a,  nav .sidenav-trigger i, .sidenav li>a{
    font-size: 18px;
     
}



nav .sidenav-trigger i{
    font-size: 2.1rem;
}




/* Re-used classes */
.hidden{
    display: none;
}

/* Text */
p, label, ::placeholder {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.5rem 0;
}

p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    margin-bottom: 0;
}

hr {
    margin-top: 1.5rem;
    width: 60%;
}

.page-header{
    margin-top: 2rem;
    margin-left: 2vw;
    margin-right: 2vw;
}

.page-info{
    margin: 5vw;
}

.page-info-user-dash{
     margin: 9vw;
}

.input-field .login-form, .input-field .login-form ::placeholder{
    font-size: 2rem;
}



/* Forms */

.form-wrapper{
    margin: 10vw 5vw 0 5vw;
}



.form-wrapper-search{
    margin: 16vw 0 0 0;
}

.form-search-all{
    margin: 0;
}

.select-wrapper+label{
    font-size: 16px;
    top: -40px;
}

.input-field{
    margin-top: 2rem;
    
}

.input-field-search, .input-field-login, .input-field-signup, .input-field-manage-reports{
    margin-top: 4rem;
    
}

.input-field .dateLabel{
    top: -1rem;
}


.final-input{
    margin-bottom: 1rem;
}

textarea.materialize-textarea{
    padding: 1rem 0 0 0;
}

.input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-16px) scale(1);
    transform: translateY(-16px) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


.input-field>.login-form:not(.label-icon).active{
    -webkit-transform: translateY(-32px) scale(1);
    transform: translateY(-32px) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/* Containers */

.page-container{
    min-height: 81.25vh;
    padding-bottom: 1rem;
    
}


.row {
    margin-bottom: 0;
}

/* Components */

/* cards */

.card {
    margin-top: 1rem;
    padding: 1rem 1rem 2rem 1rem;
}

/* Button */
.btn{
       margin: 1rem 0 0 0;
       font-family: 'Alegreya', serif;
   
}

.btn-with-extra-margin{
    margin: 1rem 0;
}

.btn-wrapper{
    text-align: center;
}




.btn i{
    vertical-align: bottom;
}


#settingButton{
    text-align: right;
    color: #36688d;
}

#settingButtonIcon{
    padding: 3vw;
    font-size: 36px;

}

.button-space-margin{
    margin-left: 2vw;
}



/* Icons */

i {
    margin-right: 5px;
}

/* Collapsible */
.collapsible {
    margin: 6.5vw 5vw 5vw 5vw;
}

.collapsible-header{
   
  
    font-size: 18px;
}



.collapsible-body{
    
    padding: 1rem 2rem;
}

/* Datepicker */ 

.datepicker-table td.is-today{
    background-color: lightgray;
}

/* Home */

header {
    background-color: rgb(175, 175, 174);
} 

.card-panel {
    font-size: 18px;
    margin: 4vw; 
}

#compareSearch, #orSearch{
    display: block;
}


.comparisonPickValues{
    margin: 30px;
}


.searchForm label{
    display: block;
}

.signature {
    font-style: italic;
    font-size: 18px;
}

#meetTheTeam {
    margin-top: 1.5rem;
}

#team-info-wrapper-Chris {
    margin-bottom: 2rem;
}

/* Add report */



/* Search Report */

/* Login */

.login-form-wrapper{
    margin-bottom: 14vw;
}

.login-button {
    font-size: 18px;
}


/* Signup page */



#seePassword {
    margin-right: 5vw;
    display: inline-block;
    
}

#confirmPasswordText{
    font-size: 18px;
}

.signup-button{
    font-size: 18px;
    margin: 2rem 0 1rem 0;
}

/* Dashboard */

.dashboard{
    background-color: #BDA589; 
    margin: 0;
    padding: 0;
    min-height: 90vh
    
}

.dashboard h3{
    margin: 0;
    padding: 24px 0 24px 16px;
}



.input-field, .input-field textarea, input, ::placeholder, .input-field label, form label, form a {
    font-family: 'Alegreya', serif;

}



.collapsible-dash {
    margin: 5.5vh 5vw 1vh 5vw;
}
/*  Add date and location pages */





/* Search db reports page */

.result-info-wrapper{
    padding: 2vw;
}

.result-info{
    margin: 0;
}

.result-info-separator{
    margin: 1rem;
}

/* Search result page */

.search-again{
    margin: 10vw 5vw 0 5vw;
}



/* User delete */

.collapsible-body-delete{
    display: block;
}

/* User modify */

.input-field-smaller-margin{
    margin-top: 1rem;
}

/* Settings Page */

.settings-header h5{
    text-align: center;
    margin: 0.5rem;
}

.settings-header i {
    vertical-align: bottom;
}

.settings-collapsible{
    margin: 8vh 5vw 5vh 5vw;
}

.settings-message{
    margin: 0;
}

/* Footer */



footer {
  
    bottom: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    height: 18.75vh;
}

.footerContact{
    display: block;
    
}

footer p{
    margin: 0;
    display: inline-block;
    
}

#footerHeader{
    font-size: 20px;
    margin-bottom: 0.5rem;
    
}

#footerTel, #footerEmail {
    display: none;  
}

footer i {
    display: inline-block;
    vertical-align: bottom;
}

#copyWrapper{
    margin-top: 0.5rem;
}


/* iPad */
@media screen and (min-width: 768px) {

/* Nav */
nav{
    height: 8.4vh;
    line-height: 75px;
}

nav .brand-logo{
    font-size: 4rem;
    
}

nav .sidenav-trigger i{
    font-size: 3rem;
   
}

nav a.sidenav-trigger i{
    line-height: 80px;
    margin-left: 1.5rem;
}

.sidenav {
    width: 260px;
}

/* Font sizes */

p, label, ::placeholder, .signature {
    font-size: 2rem;
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 4.5rem;
}

h3{
    font-size: 4rem;
}

h4{
    font-size: 3.28rem;
} 

h5{
    font-size: 2.5rem;
}

.btn {
    font-size: 2rem;
    height: 5rem;
    margin-bottom: 1rem;
    line-height: 70px;
}



.collapsible-header, .dateSpan, input[type=email]:not(.browser-default){
    font-size: 2rem;
}


input[type=text]:not(.browser-default), #confirmPasswordText {
    font-size: 28px;
}

.collapsible-header i, .btn i{
    font-size: 2.6rem;
}

.sidenav li>a {
    font-size: 2rem;
    margin: 1.5rem 0;
}
/* Margins */

.page-header{
    margin-top: 4rem;
}

.btn-with-extra-margin{
    margin: 3rem;
}

.form-wrapper{
    margin: 10vw 8vw 0 8vw;
}

.input-field .dateLabel{
    top: -2rem;
}

.input-field-signup{
    margin-top: 6rem;
}

.first-nav-link{
    margin-top: 50px;
}

/* Home Page */
#meetTheTeam{
    font-size: 5rem;
}

#team-info-wrapper-Chris{
    margin-bottom: 4rem;
}

img.responsive-img{
    height: 39vh;
}

.team-pic-wrapper{
    text-align: center;
}

.purpose-wrapper{
    margin-top: 7vw;
}



/* Add report */

textarea.materialize-textarea{
    padding:0;
    font-size: 2rem;
    margin-bottom: 3rem;
}



.select-wrapper+label, .select-wrapper input.select-dropdown{
    font-size: 2rem;
    margin-bottom: 3rem;
    
}

.dropdown-content li>span{
    font-size: 2rem;
}

/* Login page */
.input-field>.login-form:not(.label-icon).active{
    -webkit-transform: translateY(-50px) scale(1);
    transform: translateY(-50px) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


/* User-dash */

.select-wrapper+label{
    top: -65px;
}

.input-field-manage-reports{
    margin-top: 6rem;
}

#settingButtonIcon{
font-size: 50px;
}
/*  Footer */

.footerContact i{
    font-size: 40px;
}

#footerHeader{
    font-size:32px;
}
}

/* iPad Pro */

@media screen and (min-width: 1024px) {
/* Font sizes */

p, label, ::placeholder, .signature, textarea.materialize-textarea {
    font-size: 3rem;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 5.5rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.28rem;
} 

h5{
    font-size: 3.5rem;
}

.btn {
    font-size: 4rem;
    height: 7rem;
    margin-bottom: 1rem;
    line-height: 70px;
}



.collapsible-header, .dateSpan, input[type=email]:not(.browser-default){
    font-size: 3rem;
}


input[type=text]:not(.browser-default), #confirmPasswordText {
    font-size: 42px;
}

.collapsible-header i, .btn i{
    font-size: 2.6rem;
}

.sidenav li>a {
    font-size: 2rem;
    margin: 1.5rem 0;
}

.dropdown-content li>span, input[type=password]:not(.browser-default), .input-field .login-form, .material-icons{
    font-size: 3rem;
}

#settingButtonIcon {
    font-size: 65px;
}


/* Nav */
nav{
    height: 10.4vh;
}
nav .brand-logo{
    position: unset;
    display: block;
   
}

.nav-wrapper {
    text-align: center;
}

nav ul a{
    font-size: 32px;
    font-weight: 500;
    padding: 0 22px;
}

nav ul li{
    display: inline-block;
    float: none; 
}

nav .nav-links{
    padding: 0 4rem;
}

/* Footer */
footer{
    height: 22vh;
}

.footerContact i{
    font-size: 58px;
}

#footerHeader{
    font-size: 60px;
    margin-bottom: 0.5rem;
    
}

/* Home  */
.disclaimer-wrapper {
    padding: 48px 42px;
}

.about-wrapper{
    padding-bottom: 4rem;
}

#meetTheTeam {
    margin: 2.5rem 0 3rem 0;
}

/* Login */

.hrefButton{
    height:auto;
    line-height: 87px;
}

/* Add report */

.select-wrapper input.select-dropdown, textarea.materialize-textarea, input[type=text]:not(.browser-default){
    height: 5rem;
}

/* Signup */

[type="checkbox"]+span:not(.lever):before{
width: 2rem;
height: 2rem;
top: -6px;
}

[type="checkbox"]:checked+span:not(.lever):before {
    top: -9px;
    left: -5px;
    width: 18px;
    height: 32px;
   
}

.btn-wrapper .signup-button{
    margin: 3.5rem 0 3rem 0;
}

[type="checkbox"]:checked+span:not(.lever):before{
    border-right: 4px solid #595775;
    border-bottom: 4px solid #595775;
}

[type="checkbox"]+span:not(.lever){
    padding-left: 50px;
}

/* Dashboard */

.select-wrapper+label, .select-wrapper input.select-dropdown{
    font-size: 3rem;
    margin-bottom: 3rem;
    
}

.select-wrapper+label{
    top: -60px;
}

.input-field .managing-reports-labels{
    top: -83px;
}

.collapsible-header i, .btn i{
    font-size: 3rem;
  vertical-align: bottom;
  line-height: inherit;
  
}

.collapsible-header i {
   width: 3rem; 
}

/* Settings */

input[type=password]:not(.browser-default), input[type=email]:not(.browser-default){
    margin: 2rem 0;
}

input[type=email]:not(.browser-default), input[type=password]:not(.browser-default){
    height: 4rem;
}
}

@media screen and (min-width: 1280px) {

/* Nav */
nav{
    height: 11.4vw;
}


p, label, ::placeholder, .signature, textarea.materialize-textarea{
    font-size: 2rem;
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 4.5rem;
}

h3{
    font-size: 4rem;
}

h4{
    font-size: 3.28rem;
} 

h5{
    font-size: 2.5rem;
}

.btn {
    font-size: 2rem;
    height: 5rem;
    margin-bottom: 1rem;
    line-height: 70px;
}



.collapsible-header, .dateSpan, input[type=email]:not(.browser-default){
    font-size: 2rem;
}


input[type=text]:not(.browser-default), #confirmPasswordText {
    font-size: 28px;
}

.collapsible-header i, .btn i{
    font-size: 2.6rem;
}

.sidenav li>a {
    font-size: 2rem;
    margin: 1.5rem 0;
}

.dropdown-content li>span, input[type=password]:not(.browser-default), .input-field .login-form, .material-icons{
    font-size: 2rem;
}




/* Margins */
.page-info-user-dash{
    margin: 5vw;
}

.page-header{
    margin-top: 3rem;
}

.btn-with-extra-margin{
    margin: 0;
}

.form-wrapper{
    margin: 7vw 8vw 0 8vw;
}

.input-field .dateLabel{
    top: -2rem;
}

.input-field-signup{
    margin-top: 6rem;
}

.first-nav-link{
    margin-top: 50px;
}

.collapsible-header i, .btn i{
    font-size: 2rem;
}

.select-wrapper+label, .select-wrapper input.select-dropdown{
    font-size: 2rem;
    margin-bottom: 2rem;
    
}


.select-wrapper input.select-dropdown, textarea.materialize-textarea, input[type=text]:not(.browser-default){
    height: 3rem;
}

.input-field>.login-form:not(.label-icon).active{
    -webkit-transform: translateY(-21px) scale(1);
    transform: translateY(-21px) scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

/* Home Page */
#meetTheTeam{
    font-size: 5rem;
}

.homePageInfo{
    margin: 4vw 3vw;
}

.purpose-header{
    margin-bottom: 4rem;
}

#team-info-wrapper-Chris{
    margin-bottom: 4rem;
}

.container{
    width: 85%;
}

.row {
    margin-top: 5vh;
}

img.responsive-img{
    height: 41vh;
    margin-top: 30px;
}

.team-pic-wrapper{
    text-align: center;
}

.purpose-wrapper{
    margin-top: 8vh;
}

/* Footer */

footer {
    height: auto;
}

.footerContact i{
    font-size: 40px;
}

#footerHeader{
    font-size:32px;
}

/* Search reports */

.form-wrapper-search{
    margin: 8vw 0 0 0;
}

/* Login form */

.login-form-wrapper{
    margin-bottom: 7vh;
}

.input-field-search, .input-field-login, .input-field-signup, .input-field-manage-reports{
    margin-top: 1rem;
}

/* User dash */

#settingButtonIcon{
    font-size: 50px;
    padding: 2vw;
}

}
