
.body{
    font-family: 'Alegreya', serif;
}

.nav-wrapper{
        box-shadow: 0px 6px 13px 4px rgba(54,104,141, 0.4);
      
}

.nav-wrapper, .sidenav{
    background-color: #36688d;
}

nav ul a, nav .brand-logo, nav .sidenav-trigger i, .sidenav li>a{
    color: #f3dc05;
}

.navbar-light .navbar-nav .nav-link {
    color: #f3dc05;
}

#homepageHeader{
    background-color: #BDA589;
}


.hidden{
    display: none;
}

header {
    background-color: rgb(175, 175, 174);
} 


#compareSearch, #orSearch{
    display: block;
}


.comparisonPickValues{
    margin: 30px;
}


.searchForm label{
    display: block;
}


/* Dashboard */

.dashboard{
    background-color: #BDA589; 
    margin: 0;
    padding: 0;
    
}

.dashboard h3{
    margin: 0;
    padding: 24px 0 0 0;
}

.collapsible-header{
    background-color:#f3cd05;
    color: #36688d;
    border-bottom: 1px solid #36688d;
}

.collapsible-body{
    background-color:#36688d;
}

#settingButton{
    float: right;
    color: #36688d;
}

#settingButtonIcon{
    padding: 3vw;
    font-size: 36px;

}


/* Search db reports page */

#compareSearch{
    background-color: blue;
    display: none;
}

#basicSearchForm{
    background-color: yellow;

}

#orSearch{
    background-color: green;
    
}

#filteredSearch{
    background-color: purple;
    
}

#comparedSearch{
    background-color: orange;
    
}


/* User dash page */

#previousReport{
    background-color: violet;
    
}

#makeReport{
    background-color: rgb(233, 238, 169);
    
}

#searchDatabase{
    background-color: rgb(143, 149, 184);
    
}

#ammendReport{
    background-color: rgb(158, 240, 192);
    
}

footer {
    background-color:  #36688d;
    color:#f3dc05;
}