.hidden{
    display: none;
}

header {
    background-color: rgb(175, 175, 174);
} 


#compareSearch, #orSearch{
    display: block;
}


.comparisonPickValues{
    margin: 30px;
}


.searchForm label{
    display: block;
}




/* Search db reports page */

#compareSearch{
    background-color: blue;
    display: none;
}

#basicSearchForm{
    background-color: yellow;

}

#orSearch{
    background-color: green;
    
}

#filteredSearch{
    background-color: purple;
    
}

#comparedSearch{
    background-color: orange;
    
}


/* User dash page */

#previousReport{
    background-color: violet;
    
}

#makeReport{
    background-color: rgb(233, 238, 169);
    
}

#searchDatabase{
    background-color: rgb(143, 149, 184);
    
}

#ammendReport{
    background-color: rgb(158, 240, 192);
    
}