.hidden{
    display: none;
}

header {
    background-color: rgb(175, 175, 174);
} 


#compareSearch, #orSearch{
    display: block;
}


.comparisonPickValues{
    margin: 30px;
}


.searchForm label{
    display: block;
}




/* Search db reports page */

#compareSearch{
    background-color: blue;
    display: none;
}