
.body{
    font-family: 'Alegreya', serif;
}


/* Nav bar */
.nav-wrapper{
        box-shadow: 0px 6px 13px 4px rgba(54,104,141, 0.4);
      
}

.nav-wrapper, .sidenav{
    background-color: #36688d;
}

nav ul a, nav .brand-logo, nav .sidenav-trigger i, .sidenav li>a{
    color: #f3dc05;
}

nav .sidenav-trigger i{
    font-size: 2.1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #f3dc05;
}

#homepageHeader{
    background-color: #BDA589;
}


/* Re-used classes */

.hidden{
    display: none;
}

p, label, ::placeholder {
    font-size: 16px;
}

.page-container{
    min-height: 90vh;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.5rem 0;
}

p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.row {
    margin-bottom: 0;
}

/* Home */

header {
    background-color: rgb(175, 175, 174);
} 

.card-panel {
    font-size: 18px;
    background-color: #36688d;
    color:#f3cd05;
    margin: 4vw; 
}

#compareSearch, #orSearch{
    display: block;
}


.comparisonPickValues{
    margin: 30px;
}


.searchForm label{
    display: block;
}

.signature {
    font-style: italic;
    font-size: 18px;
}

/* Dashboard */

.dashboard{
    background-color: #BDA589; 
    margin: 0;
    padding: 0;
    min-height: 90vh
    
}

.dashboard h3{
    margin: 0;
    padding: 24px 0 24px 16px;
}

.collapsible {
    margin: 0;
}

.collapsible-header{
    background-color:#f3cd05;
    color: #36688d;
    border-bottom: 1px solid #36688d;
}

.collapsible-header a, .dropdown-content li>span{
     color: #36688d;
}

.collapsible-body{
    background-color:#36688d;
}

.input-field, .input-field textarea, input, ::placeholder, .input-field label, form label, form a {
    color: #f3cd05;
    font-family: 'Alegreya', serif;

}

 .input-field input[type=text]:focus {
     border-bottom: 1px solid #f3cd05;
     box-shadow: 0 1px 0 0 #f3cd05;
   }

.select-wrapper input.select-dropdown, textarea.materialize-textarea, input[type=text]:not(.browser-default) {
    border-bottom: 1px solid #f3cd05;
}

[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after {
    border: 2px solid #f3cd05;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #f3cd05;
    border: 2px solid #f3cd05;
}


.btn{
   
    color: #36688d;
    background-color: #f3cd05;
   
}

.btn:hover{
    background-color: #000;
}

#settingButton{
    float: right;
    color: #36688d;
}

#settingButtonIcon{
    padding: 3vw;
    font-size: 36px;

}


/* Search db reports page */

#compareSearch{
    background-color: blue;
    display: none;
}

#basicSearchForm{
    background-color: yellow;

}

#orSearch{
    background-color: green;
    
}

#filteredSearch{
    background-color: purple;
    
}

#comparedSearch{
    background-color: orange;
    
}

/* Footer */



footer {
    background-color:  #36688d;
    color:#f3dc05;
    bottom: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}

.footerContact{
    display: block;
    
}

footer p{
    margin: 0;
    display: inline-block;
    
}

#footerHeader{
    font-size: 20px;
    margin-bottom: 0.5rem;
    
}

#footerTel, #footerEmail {
    display: none;  
}

footer i {
    display: inline-block;
    vertical-align: bottom;
}

#copyWrapper{
    margin-top: 0.5rem;
}