{% extends 'base.html'%} {% block content %}

<h1>Test site</h1>

<h5>Would you like to add a date to your report?</h5>

{% with messages = get_flashed_messages() %}
    {% if messages%}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}
{% endwith %}


<form method="POST" action="{{ url_for('addDateToReport') }}">
            <div class="input-field hidden">
                <input type="text" class="" id="email" name="email" value="{{currentUserEmail}}" placeholder="Email">
            </div>  
            <div class="input-field">
                <input type="text" class="" id="reportTimeStamp" name="reportTimeStamp" value="{{reportTimeStamp}}" placeholder="">
            </div>         
          
             <div class="input-field">
                        <label for="Date">Date</label>
                        <input type="text" name="date" id="date" class="datepicker" required>
                    </div>

            
            
            
            <button class="btn" type="submit" name="action">Add report</button>
            <a class="btn" href="">Skip</a>
        </form>



{% endblock %}