{% extends 'base.html'%} {% block content %}

<h3 class="page-header">This is the report you have chosen to edit</h3>
<div class="collapsible-body collapsible-body-delete">
    <div class="card bg-primary text-white">
        <div class="result-info-wrapper">
            <div class="row">
                <div class="col xl6">
                    <div class="result-info-separator">
                        {% if report.category_name != "" %}
                        <p class="result-info">Category:</p>
                        <p class="result-info">{{report.category_name}}</p>
                        {% endif %}
                    </div>

                    {% if report.building != "" %}
                    <div class="result-info-separator">
                        <p class="result-info">Building:</p>
                        <p class="result-info">{{report.building}}</p>
                    </div>
                    {% endif %} {% if report.street != "" %}
                    <div class="result-info-separator">
                        <p class="result-info">Street:</p>
                        <p class="result-info">{{report.street}}</p>
                    </div>
                    {% endif %} {% if report.county != "" %}
                    <div class="result-info-separator">
                        <p class="result-info">City:</p>
                        <p class="result-info">{{report.city}}</p>
                    </div>
                    {% endif %} {% if report.county != "" %}
                    <div class="result-info-separator">
                        <p class="result-info">County:</p>
                        <p class="result-info">{{report.county}}</p>
                    </div>
                    {% endif %} {% if report.postcode != "" %}
                    <div class="result-info-separator">
                        <p class="result-info">Postcode:</p>
                        <p class="result-info">{{report.postcode}}</p>
                    </div>
                    {% endif %}
                </div>
                <div class="col xl6">
                    <div class="result-info-separator">
                        <p class="result-info">Incident Description:</p>
                        <p class="result-info">{{report.incident_description}}</p>
                    </div>

                    {% if report.date != "" %}
                    <div class="result-info-separator">
                        <p class="result-info">Date:</p>
                        <p class="result-info">{{report.date}}</p>
                    </div>
                    {% endif %} {% if report.report_to_authorities != "" %}
                    <div class="result-info-separator">
                        <p class="result-info">Reported to the authorities:</p>
                        <p class="result-info">{{report.report_to_authorities}}</p>
                    </div>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
</div>

<form method="POST" action="{{ url_for('delete_report', report_id=report._id) }}">
    <div class="btn-wrapper">
        <button class="btn" type="submit">Confirm delete</button>
    </div>
</form>

{% endblock %}
