{% extends 'base.html'%} {% block content %}

<h3>This is the report you have chosen to edit</h3>
    <div class="card bg-primary text-white">
            <p>Category: {{report.category_name}}</p> 
            <p>Incident Description: {{report.incident_description}}</p>
            {% if report.building != "" %}
                <p>Building: {{report.building}}</p>
            {% endif %} 
            {% if report.street != "" %}
                <p>Street: {{report.street}}</p>
            {% endif %} 
              {% if report.street != "" %}
                <p>City: {{report.city}}</p>
            {% endif %}
            {% if report.county != "" %}
                <p>County: {{report.county}}</p>
            {% endif %} 
            {% if report.postcode != "" %}
                <p>Postcode: {{report.postcode}}</p>
            {% endif %} 
            <p>Date: {{report.date}}</p>
            <p>Reported to the authorities: {{report.report_to_authorities}}</p>
    </div>
    
<form method="POST" action="{{ url_for('delete_report', report_id=report._id) }}">
        <div>
                <label for="delete_report">Confirm delete?</label>
                  <input id="delete_record" name="archive" type="checkbox">
                
        </div>
        <button type="submit">Confirm</button>
    </form>


{% endblock %}