{% extends 'base.html'%} {% block content %}
<section id="homepageSection">
<div id="homepageHeader">
    <h1>Report it</h1>
    <h2><em>For a better future</em></h2>
</div>
<body>
    
    <h1>So far we have collected {{report}} reports.</h1>
<div class="purpose-wrapper card-panel z-depth-4">
<h1>Purpose</h1>
<h5>Discrimination happens - <br>
<em>Everywhere, anytime</em>. </h5>
<h5>We need a place to report it - <br>
<em>anywhere, anytime</em>.</h5>
<br>

<p> Our purpose here is to simply collect data. If you see or experience discrimination then report it. If you are part
of a charity, the police or are studying discrimination then please use our database to support your findings.
</p>
<p>
Data is so important to ensure the battle towards equality continues and does not plateu. So please get involved
and let's build a better future, together.
</p>
<p>
Chris Palmer
</p>
</div>   

<div class="about-wrapper card-panel z-depth-4">
   <h1>About us</h1>
   <p> We are small team dedicated to giving a voice to those who feel they aren't heard. We are an independent team
   and have no affiliation with governing bodies. Our dream is to collect information in a way that is free from
   politics and bureaucracy, and therefore accessible to everyone. </p>

   <p> Meet the team </p>
   <div class="container">
        <div class="row">
            <div class="team-pic-wrapper col s6">
                <img class="responsive-img team-member circle" src="/static/images/cool-pic.jpg">
            </div> 
            <div class="team-info-wrapper col s6"> 
                <h6>Chris Palmer</h6>
                <p> A former teacher and equal rights advocate.</p>
            </div>
        
        </div>
        
   </div>
    <div class="container">
        <div class="row">
        <div class="team-info-wrapper col s6"> 
                <h6>Chris Palmer</h6>
                <p> A former teacher and equal rights advocate.</p>
        </div>
        
            <div class="team-pic-wrapper col s6">
                <img class="responsive-img team-member circle" src="/static/images/cool-pic.jpg">
            </div>          
        
        </div>
        
   </div>
   </div>


<div class="disclaimer-wrapper card-panel z-depth-4">
   <h1>Disclaimers and usage policy</h1>

    <p> All statistics are based on the amount of reports in the database. Please interpret any statistics in context
    and ensure that the results reflect the limited sample size. </p>

   <p> Any misrepresentation of the data will be publicly rejected by the company.
    Any incorrect interpretation of the data will be required to be removed from the public. </p>

</div>
</body>
</section>
   


{% endblock %}