{% extends 'base.html'%} {% block content %}

<h1>Login</h1>

    <form action="{{url_for('check_password')}}" method="POST">
        <div class="form-group">
            <label for="login_username">Username</label>
            <input type="text" class="form-control" id="login_username" name="login_username" placeholder="Please enter your username" required>
        </div>    
        <div class="form-group">
            <label for="login_password">Password</label>
            <!-- use js to change the attr to text when clicked so you can see your password. Just for 5 seconds. -->
            <input type="password" class="form-control" id="login_password" name="login_password" placeholder="Please enter your password" required>
        </div>      
        <button type="submit">Login</button>
    </form>


{% endblock %}