{% extends 'base.html'%} {% block content %}

<h1>Login</h1>
{% with messages = get_flashed_messages() %}
    {% if messages%}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="form-wrapper">
    <form action="{{url_for('check_password')}}" method="POST">
        <div class="input-field">
            <label class="login-form" for="login_username">Email</label>
            <input type="text" class="login-form" id="login_username" name="login_username" placeholder="Please enter your username" required>
        </div>    
        <div class="input-field">
            <label class="login-form" for="login_password">Password</label>
            <!-- use js to change the attr to text when clicked so you can see your password. Just for 5 seconds. -->
            <input type="password" class="login-form" id="login_password" name="login_password" placeholder="Please enter your password" required>
        </div>      
        <button type="submit">Login</button>
    </form>
</div>
<h3>Not got an account yet? <a href="{{url_for('signup')}}">Sign up here</a> </h3>


{% endblock %}