{% extends 'base.html'%} {% block content %}

<h1 class="page-header login-form-wrapper">Login</h1>
{% with messages = get_flashed_messages() %}
    {% if messages%}
        {% for message in messages %}
            <h5>{{ message }}</h5>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="form-wrapper">
    <form action="{{url_for('check_password')}}" method="POST">
        <div class="input-field input-field-login">
            
            <input type="email" class="login-form" id="login_username" name="login_username" placeholder="Please enter your username" required>
            <label class="login-form" for="login_username">Email</label>
        </div>    
        <div class="input-field input-field-login">
            
            <!-- use js to change the attr to text when clicked so you can see your password. Just for 5 seconds. -->
            <input type="password" class="login-form" id="login_password" name="login_password" placeholder="Please enter your password" required>
            <label class="login-form" for="login_password">Password</label>
        </div>   
        <div class="btn-wrapper">
        <button class="btn btn-with-extra-margin login-button" type="submit">Login</button>
        </div>  
    </form>
</div>
<p>Forgtten password? <br> Please email us and we will reset it for you.</p>
<p>Not got an account yet? <br>
<div class="btn-wrapper">
<a class="btn" href="{{url_for('signup')}}">Sign up here</a>
</div>



{% endblock %}