{% extends 'base.html'%} {% block content %}
<!-- From here you are adding in search values. This might need to be a separate piece of html. -->

<form method="POST" action="{{ url_for('retrieving_report') }}">
    <input type="text" class="hidden" name="number_of_fields" id="" value="{{number_of_fields}}">
    {% for x in range(number_of_fields) %}
     <label for="search_choice{{x}}">{{parameterChoices[x].capitalize()}}</label>
    <input type="text" class="hidden" value="{{parameterChoices[x]}}" name="search_choice{{x}}" id="search_choice{{x}}">
    <select name="search_value{{x}}" id="">
            <option disabled></option>
            {% for value in chosen_parameter_options[x] %}
                <option>{{value}}</option>
            {% endfor %}
    </select>
    {% endfor %}
    <button type="submit">Search</button>
</form>

{% endblock %}