{% extends 'base.html'%} {% block content %}
<!-- From here you are adding in search values. This might need to be a separate piece of html. -->

<h3>You have chosen to search by {{parameter}}</h3>

<p>Search by all...</p>
<form method="POST" action="">
    <input type="text" class="hidden" name="parameter" value="{{parameter}}">
    <!-- number of comparisons -->
 
    <input type="radio" id="comparisonCheckStreet" value="street" name="searchParameter">
    <label for="comparisonCheckStreet">Street</label>
    <input type="radio" id="comparisonCheckCity" value="city" name="searchParameter">
    <label for="comparisonCheckCity">City</label>
    <input type="radio" id="comparisonCheckCounty" value="county" name="searchParameter">
    <label for="comparisonCheckCounty">County</label>
    <input type="radio" id="comparisonCounty" value="county" name="searchParameter">
    <label for="comparisonCheckPostcode">Postcode</label>

<button type="submit">Go</button>
</form>

{% endblock %}