{% extends 'base.html'%} {% block content %}
<!-- From here you are adding in search values. This might need to be a separate piece of html. -->

<form method="POST" action="">
    <!-- number of comparisons -->
    <input type="text" class="hidden" name="comparison_number" id="" value="{{comparison_number}}">
    <div class="comparisonPickValues">
        <h1>Search field</h1>
        {% for choice in parameterChoices %}
       
            <input type="text" class="hidden" name="" value="{{choice}}" placeholder="{{choice}}">
            <label for="">{{choice}}</label>
            <select name="" id="">
        
                {% for value in chosen_parameter_options[loop.index0] %}
                    <option value="">{{value}}</option>
                {% endfor %}
          
                </select>
  
          
        {% endfor %}
    </div>

    <button type="submit">Search</button>
</form>

{% endblock %}