{% extends 'base.html'%} {% block content %}

<h1 class="page-header">Thank you for joining!</h1>
      <div class="modal-body">
        
       <h5 class="page-info">Please enter your preferred name!</h5>
        <form method="POST" action="{{url_for('insert_name')}}">
            <label for="preferredNameInput"></label>
            <input id="preferredNameInput" name="preferredNameInput" type="text" required>
            <div class="btn-wrapper">
            <button class="btn" type="submit"> Get started </button>       
            </div>        
        </form>
      </div>


{% endblock %}