{% extends 'base.html'%} {% block content %}


{% for report in report  %}
    <div class="card bg-primary text-white">
            <p>User: {{report.username}}</p>
            <p>Category: {{report.category_name}}</p>
            <p>Sub-category: {{report.sub_category}}</p>
            <p>Description: {{report.incident_description}}</p>
            <p>Location: {{report.location}}</p>
            <p>Reported to the authorities: {{report.report_to_authorities}}</p>
    </div>
    <a class="btn btn-success" href="">Edit</a>
    <a class="btn btn-danger" href="">Delete</a>

    {% endfor %}

{% endblock %}