{% extends 'base.html'%} {% block content %}


{% for report in report  %}
    <div class="card bg-primary text-white">
            <p>User: {{report.username}}</p>
            <p>Category: {{report.category_name}}</p>
            <p>Sub-category: {{report.sub_category}}</p>
            <p>Description: {{report.incident_description}}</p>
            <p>Building: {{report.building}}</p>
            <p>Street: {{report.street}}</p>
            <p>City: {{report.city}}</p>
            <p>County: {{report.county}}</p>
            <p>Postcode: {{report.postcode}}</p>
            <p>Reported to the authorities: {{report.report_to_authorities}}</p>
    </div>
    <a class="btn btn-success" href="{{url_for('user_modify', report_id=report._id)}}">Edit</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Delete
</button>
    <a class="btn btn-danger" href="{{url_for('delete_report', report_id=report._id)}}">Delete</a>

    {% endfor %}

 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}