{% extends 'base.html'%} {% block content %}

This is your search display.

{{parameter_options}}

{% for x in range(amountOfSearches) %}

    {% for search in searches[x] %}
    
   
    <div class="card bg-primary text-white">
                    <p>Category: {{search.category_name}}</p>
                    {% if search.sub_category %}
                        <p>Sub-category: {{search.sub_category}}</p>
                    {% endif %}
                    <p>Description: {{search.incident_description}}</p>
                    <p>Building: {{search.building}}</p>
                    <p>Street: {{search.street}}</p>
                    <p>City: {{search.city}}</p>
                    <p>County: {{search.county}}</p>
                    <p>Postcode: {{search.postcode}}</p>
                    <p>searched to the authorities: {{search.report_to_authorities}}</p>
            </div>
    
    {% endfor %}

{% endfor %}

{% endblock %}