{% extends 'base.html'%} {% block content %}

<h1>Search results here</h1>


{% if parameter == "Not chosen" %}

<!-- Will show a form when search is first clicked -->
        
        <form method="POST" action="{{ url_for('search_report_parameter') }}">
        <select name="search_parameter" id="">
                <option value="" disabled selected></option>
                
                {% for search in search_parameter1 %}
                    <option value="{{search.type}}">{{search.display_name}}</option>
                {% endfor %}
                
        </select> 

       
  
<!-- Will show as many extra forms as needed. -->
{% if test > 0 %}
    {% for x in range(test) %}
        <select name="search_parameter{{x}}" id="">
                <option value="" disabled selected></option>
                
                <!-- Hard code a loop here. For range of list, write all the options and each option is list[x] -->
           
                    <option value="building">Building</option>
                    <option value="category_name">Category</option>
                    <option value="city">City</option>
                    <option value="county">County</option>
                    <option value="postcode">Postcode</option>
                    <option value="report_to_authorities">Reported_to_authorities</option>
                    <option value="street">Street</option>
                    <option value="sub_category">Sub-category</option>
              
                </select>
    {% endfor %}
     
{% endif %}

<button type="submit">Search</button>
</form>
{% endif %}

      
        




<!-- Change this eventually to the count of the types in search_parameters -->
{% if test < 7 %}
<a class="btn" href="{{url_for('adding_search_parameter')}}">Add more than one search field</a>
{% endif %}

{% if parameter != "Not chosen" %}


<form method="POST" action="{{ url_for('retrieving_report', parameter='{{parameter}}') }}">
    <label for="search_choice{{x}}">{{parameter.capitalize()}}</label>
    <input type="text" class="hidden" value="{{parameter}}" name="search_choice{{x}}" id="search_choice">
    <select name="search_value" id="">
            <option disabled></option>
            {% for value in parameterChoice1|sort %}
                <option>{{value}}</option>
            {% endfor %}
    </select>

    {% if test == 1 %}
    <label for="search_choice2">{{parameter2.capitalize()}}</label>
    <input type="text" class="hidden" value="{{parameter2}}" name="search_choice2" id="search_choice2">
    <select name="search_value2" id="">
            <option disabled></option>
            {% for value in parameterChoice2|sort %}
                <option>{{value}}</option>
            {% endfor %}
    {% endif %}

    </select>




    <button type="submit">Search</button>
</form>
{% endif %}





{% endblock %}