{% extends 'base.html'%} {% block content %}

<h1>Search results here</h1>

{% if parameter == "Not chosen" %}
<form method="POST" action="{{ url_for('search_report_parameter') }}">
    <select name="search_parameter" id="">
        <option value="" disabled selected></option>
        {% for search in search_parameter1 %}
            <option>{{search}}</option>
        {% endfor %}
        </select>


        {% if added_parameter == True %}
        <select name="search_parameter" id="">
        <option value="" disabled selected></option>
        {% for search in search_parameter2 %}
            <option>{{search}}</option>
        {% endfor %}
        </select>
        {% endif %}
    
    <button type="submit">Search</button>
</form>
{% endif %}

<a class="btn" href="{{url_for('search_report_2')}}">Add more than one search field</a>

{% for x in range(test) %}
            <h1>hello</h1>
        {% endfor %}



{% if parameter != "Not chosen" %}

<form method="POST" action="{{ url_for('retrieving_report', parameter='{{parameter}}') }}">
    <label for="search_choice">{{parameter.capitalize()}}</label>
    <input type="text" class="hidden" value="{{parameter}}" name="search_choice" id="search_choice">
    <select name="search_value" id="">
        {% if parameter == "username" %}
            {% for user in username|sort %}
                <option>{{user}}</option>
            {% endfor %}
        {% endif %}
        
        {% if parameter == "category_name" %}
            {% for category in category|sort %}
                <option>{{category}}</option>
            {% endfor %}
        {% endif %}
        
        {% if parameter == "incident_description" %}
            {% for incident in incident_description|sort %}
                <option>{{incident}}</option>
            {% endfor %}
        {% endif %}

        {% if parameter == "sub_category" %}
            {% for sub in sub_category |sort %}
                <option>{{sub}}</option>
            {% endfor %}
        {% endif %}
        
        {% if parameter == "building" %}
            {% for building in building|sort %}
                <option>{{building}}</option>
            {% endfor %}
        {% endif %}

        {% if parameter == "street" %}
            {% for street in street|sort %}
                <option>{{street}}</option>
            {% endfor %}
        {% endif %}
        
        {% if parameter == "city" %}
            {% for city in city|sort %}
                <option>{{city}}</option>
            {% endfor %}
        {% endif %}

        {% if parameter == "county" %}
            {% for county in county|sort %}
                <option>{{county}}</option>
            {% endfor %}
        {% endif %}

        {% if parameter == "postcode" %}
            {% for postcode in postcode|sort %}
                <option>{{postcode}}</option>
            {% endfor %}
        {% endif %}

        {% if parameter == "reported" %}
            {% for reported in reported_to_authories|sort %}
                <option>{{reported}}</option>
            {% endfor %}
        {% endif %}
  
    </select>
    <button type="submit">Search</button>
</form>
{% endif %}





{% endblock %}