{% extends 'base.html'%} {% block content %}
<!-- Page info -->
<h3 class="page-header">Your search found {{number_of_reports}} incidents.</h3>
<!-- Flash messages -->
{% if searchingUserDb != "yes" %}
<div class="page-info">
    <h5>These incidents make up {{percentageOfDb}}% of the entire database.</h5>
    <h5>{{reportedReports}}% of these have been reported to the authorities.</h5>
</div>
{% endif %}

<ul class="collapsible">
    {% for x in range(collapsibles)%}
    <li>
        <div class="collapsible-header"><i class="material-icons">add_circle</i>Reports {{x*10+1}} - {{x+1}}0</div>
        <div class="collapsible-body collapsible-body-result">
        <!-- Display all reports that are returned from query -->
            {% for report in pages[x] %}

            <div class="card bg-primary text-white report batch{{x}}">
                <div class="result-info-wrapper">
                    <div class="row result-row">
                        <div class="col xl6">
                            <div class="result-info-separator">
                                {% if report.category_name != "" %}
                                <p class="result-info">Category:</p>
                                <p class="result-info">{{report.category_name}}</p>
                                {% endif %}
                            </div>

                            <div class="result-info-separator">
                                <p class="result-info">Location:</p>
                                {% if report.building != "" %}
                                <p class="result-info">{{report.building}}</p>
                                {% endif %} {% if report.street != "" %}

                                <p class="result-info">{{report.street}}</p>

                                {% endif %} {% if report.city != "" %}

                                <p class="result-info">{{report.city}}</p>

                                {% endif %} {% if report.county != "" %}

                                <p class="result-info">{{report.county}}</p>

                                {% endif %} {% if report.postcode != "" %}

                                <p class="result-info">{{report.postcode}}</p>

                                {% endif %}
                            </div>
                        </div>
                        <div class="col xl6">
                            <div class="result-info-separator">
                                <p class="result-info">Incident Description:</p>
                                <p class="result-info">{{report.incident_description}}</p>
                            </div>

                            {% if report.date != "" %}
                            <div class="result-info-separator">
                                <p class="result-info">Date:</p>
                                <p class="result-info">{{report.date}}</p>
                            </div>
                            {% endif %} {% if report.report_to_authorities != "" %}
                            <div class="result-info-separator">
                                <p class="result-info">Reported to the authorities:</p>
                                <p class="result-info">{{report.report_to_authorities}}</p>
                            </div>
                            {% endif%}
                        </div>
                    </div>
                </div>
                {% if searchingUserDb == "yes" %}
                <div class="btn-wrapper">
                    <a class="btn" href="{{url_for('user_modify', report_id=report._id)}}">Edit</a>
                    <a class="btn button-space-margin" href="{{url_for('confirm_delete_report', report_id=report._id)}}">Delete</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>


<!-- Option to delete or edit reports -->
<h5 class="page-info search-again">Would you like to search again?</h5>
<div class="btn-wrapper">
    <a class="btn hrefButton" href="{{url_for('search_report')}}">Our database</a>
    {% if session.get("email") != None %}
    <a class="btn button-space-margin hrefButton" href="{{url_for('dashboard')}}">Your database</a>
    {% endif %}
</div>

{% endblock %}
