{% extends 'base.html'%} {% block content %}

  <h4 class="page-header">Please search our databases for reports.</h4>
  <p class="page-info">You can search by discrimination category, location or if they have been reported to authorities. 
  If you wish, you can search reports within a time frame. </p>
  <ul class="collapsible popout">
    <li>
      <div id="categoryCollapsible" class="collapsible-header "><i class="material-icons">description</i>Search by discrimination</div>
      <div class="collapsible-body">
        <form class="form-wrapper-search" method="POST" action="{{ url_for('search_db_reports') }}">
                  
                 
                    <label for="userSearchbyDiscrimination">
                            <input id="userSearchbyDiscrimination" class="hidden" type="text" name="userSearchReports" value="searchByDiscrimination">
                           
                    </label>

                    <div class="input-field col s12">
                         
                        <select id="categoryTimeFrame" class="timeFrameChoice" name="useTimeFrame" required>
                            
                                
                                <option value="Yes">Yes</option>
                                <option selected value="No">No</option>
                         
                        </select>
                        <label class="active">Would you like to search within a time frame?</label>
                    </div>

                    <div class="input-field col s12 catTimeFrameDisplay hidden">
                        
                        <input type="text" id="date" name="categoryStartDateFrame" class="datepicker" placeholder="Start Date">
                        
                    </div>
                    <div class="input-field col s12 catTimeFrameDisplay hidden">
                        
                        <input type="text" name="categoryEndDateFrame" id="categoryEndDateFrame" class="datepicker" placeholder="End Date">
                        
                    </div>
                    <div class="input-field input-field-search col s12">
                        <select name="category" required>
                            <option value="unselected" disabled selected></option>
                            {% for category in category %}
                                <option value="{{category}}" >{{category}}</option>
                            {% endfor %}
                        </select>
                        <label class="">Choose a category to search.</label>
                    </div>

                    
            


                       <div class="btn-wrapper">
                
                        <button class="btn" type="submit"><i class="material-icons">text_snippet</i>Find reports</button>
                     </div>   
             
                </form>
      
      </div>
    </li>
  
    <li>
      <div id="locationCollapsible" class="collapsible-header searchDbCollapsible"><i class="material-icons">location_on</i>Search by Location</div>
      <div class="collapsible-body">       
            <form class="form-wrapper-search" method="POST" action="{{ url_for('search_db_reports') }}">
                    
                    <label for="searchbyLocation">
                            <input id="searchbyLocation" class="hidden"  type="text" name="userSearchReports" value="searchByLocation">
                            
                    </label>

                        <div id="searchDbDate" class="input-field col s12">
                         
                        <select id="locationTimeFrame" name="useTimeFrame" class="timeFrameChoice">
                            
                                
                                <option value="Yes">Yes</option>
                                <option selected value="No">No</option>
                         
                        </select>
                        <label class="active">Would you like to search within a time frame?</label>
                    </div>

                    <div  class="input-field col s12 locationTimeFrameDisplay searchDbDateFrame hidden">
                        <label class="dateLabel" for="startDate">Start Date</label>
                        <input type="text" id="locationStartDateFrame" name="startDateLocation" class="datepicker">
                    </div>
                    <div class="input-field col s12 locationTimeFrameDisplay searchDbDateFrame  hidden">
                        <label class="dateLabel" for="endDate">End Date</label>
                        <input type="text" name="endDateLocation" id="locationEndDateFrame" class="datepicker">
                    </div>
                                      
                    <div  class="input-field input-field-search col s12">
                        <select id="searchDbLocationType" name="locationType">
                            <option value="" disabled selected></option>
                            
                                <option value="building">building</option>
                                <option value="city">city</option>
                                <option value="county">county</option>
                                <option value="postcode">postcode</option>
                         
                        </select>
                        <label class="">Choose a location type.</label>
                    </div>

                    <div id="searchDbLocationExtraType" class="input-field input-field-search col s12 hidden">
                        <select id="searchDbLocationExtraTypeOptions" name="extraLocationSearchWithBuilding">
                            <option value="" disabled selected></option>
                           
                                <option value="all">All</option>
                                <option value="city">City</option>
                                <option value="county">County</option>
                                <option value="postcode">Postcode</option>
                    
                        </select>
                        <label class="">Choose a second location type.</label>
                    </div>


                    <div id="searchDbBuilding" class="input-field input-field-search col s12 hidden">
                        <select name="building">
                            <option value="unselected" disabled selected></option>
                            {% for building in building %}
                                {% if building != "" %}
                                <option value="{{building}}">{{building}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label class="">Choose a building.</label>
                    </div>
                    <div id="searchDbCity" class="input-field input-field-search col s12 hidden">
                        <select name="city">
                            <option value="unselected" disabled selected></option>
                            {% for cities in city %}
                                {% if cities != "" %}
                               
                                <option value="{{cities}}">{{cities}}</option>
                                 {% endif %}
                            {% endfor %}
                        </select>
                        <label class="">Choose a city.</label>
                    </div>
                    <div id="searchDbCounty" class="input-field input-field-search col s12 hidden">
                        <select name="county">
                            <option value="unselected" disabled selected></option>
                            {% for county in county %}
                                 {% if county != "" %}
                                
                                <option value="{{county}}">{{county}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label class="">Choose a county.</label>
                    </div>
                    <div id="searchDbPostcode" class="input-field input-field-search col s12 hidden">
                        <select name="postcode">
                            <option value="unselected" disabled selected></option>
                            {% for postcode in postcode %}
                                 {% if postcode != "" %}
                                
                                <option value="{{postcode}}">{{postcode}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label class="">Choose a postcode.</label>
                    </div>
           
                
            
                   <div class="btn-wrapper">
                        <button class="btn" type="submit"><i class="material-icons">text_snippet</i>Find reports</button>
                     </div>   
             
                </form>
            </div>

         
        
        


     
    </li>
    <li>
      <div id="reportedCollapsible" class="collapsible-header searchDbCollapsible"><i class="material-icons">record_voice_over</i>Search by reported incidents</div>
        <div class="collapsible-body">  
            <form class="form-wrapper-search" method="POST" action="{{ url_for('search_db_reports') }}">
       
                            <input id="userSearchReport" class="hidden" type="text" name="userSearchReports" value="searchByReported">
                    
                    <div class="input-field col s12">
                         
                        <select id="allTimeFrame" name="useTimeFrame" class="timeFrameChoice">
                            
                                
                                <option value="Yes">Yes</option>
                                <option selected value="No">No</option>
                         
                        </select>
                        <label class="active">Would you like to search within a time frame?</label>
                    </div>

                    <div class="input-field col s12 reportedTimeFrameDisplay hidden">
                        <label class="dateLabel" for="startDate">Start Date</label>
                        <input type="text" id="reportedStartDateFrame" name="reportedStartDateFrame" class="datepicker">
                    </div>
                    <div class="input-field col s12 reportedTimeFrameDisplay hidden">
                        <label class="dateLabel" for="endDate">End Date</label>
                        <input type="text" name="reportedEndDateFrame" id="allEndDateFrame" class="datepicker">
                    </div>
                    <div class="input-field input-field-search col s12">
                         
                        <select id="reportedToAuthorities" name="searchReported">
                            
                                <option value="" selected disabled></option>
                                <option value="Yes">Search reported</option>
                                <option value="No">Search unreported</option>
                         
                        </select>
                        <label>Search for incidents.</label>
                    </div>
                    
            
                       <div class="btn-wrapper">
                        <button class="btn" type="submit"><i class="material-icons">text_snippet</i>Find reports</button>
                        </div>
             
                </form>
        </div>
    </li>

      <li>
      <div id="allCollapsible" class="collapsible-header searchDbCollapsible"><i class="material-icons">search</i>Search all</div>
      <div class="collapsible-body">  
            <form class="form-wrapper-search form-search-all" method="POST" action="{{ url_for('search_db_reports') }}">
       
                            <input id="userSearchbyAll" class="hidden" type="text" name="userSearchReports" value="searchAll">
                
                    <div class="input-field col s12 hidden">
                         <p>Would you like to search within a time frame?</p>
                        <select id="allTimeFrame" class="timeFrameChoice" name="useTimeFrame">
                            
                                
                                <option value="Yes">Yes</option>
                                <option selected value="No">No</option>
                         
                        </select>
                    </div>

                    <div class="input-field col s12 allTimeFrameDisplay hidden">
                        <label class="dateLabel" for="startDate">Start Date</label>
                        <input type="text" id="allStartDateFrame" name="allStartDateFrame" class="datepicker">
                    </div>
                    <div class="input-field col s12 allTimeFrameDisplay hidden">
                        <label class="dateLabel" for="endDate">End Date</label>
                        <input type="text" name="allEndDateFrame" id="allEndDateFrame" class="datepicker">
                    </div>
            
                    <div class="btn-wrapper">
                        <button class="btn btn-add-report" type="submit"><i class="material-icons">text_snippet</i>Find reports</button>
                     </div>   
             
                </form>
        </div>
        
    </li>

    
  </ul>

{% endblock %}