{% extends 'base.html'%} {% block content %}

<h1>Settings</h1>

<div>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <h5 class="mb-0">Change password <i class="fas fa-angle-down rotate-icon"></i></h5>
            </div>
            <div class="collapsible-body">
                <form action="{{url_for('changeDetails')}}" method="POST">
                    <div class="form-group">
                        <input class="hidden" type="text" name="changeType" value="password" />
                        
                        <label for="confirmCurrentPass">Current password
                        <input type="password" class="form-control" id="confirmCurrentPass" name="confirmCurrentPass" placeholder="Please enter your current password" required />
                        </label>

                        <label for="updatePassword">New password
                        <input type="password" class="form-control" id="updatePassword" name="updatePassword" placeholder="Please enter your new password" required />
                        </label>
                        <button class="btn" type="submit">Change</button>
                    </div>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <h5 class="mb-0">Change email <i class="fas fa-angle-down rotate-icon"></i></h5>
            </div>
            <div class="collapsible-body">
                <div id="changeEmailForm" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#changeDetailsAccordian">
                    <div class="card-body">
                        <p>Current email: {{ user_email }}</p>
                        <form action="{{url_for('changeDetails')}}" method="POST">
                            <div class="form-group">
                                <label for="updateEmail">New email</label>
                                <input type="text" name="changeType" value="email" />
                                <input type="email" class="form-control" id="updateEmail" name="updateEmail" placeholder="Please enter your new email" required />
                                <button class="btn" type="submit">Change</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <h5 class="mb-0">Change preferred name <i class="fas fa-angle-down rotate-icon"></i></h5>
            </div>

            <div class="collapsible-body">
                <form action="{{url_for('changeDetails')}}" method="POST">
                    <div class="form-group">
                        <p>Current preferred name: {{ preferred_name.capitalize() }}</p>
                        <label for="updateName">New preferred name</label>
                        <input type="text" name="changeType" value="name" />
                        <input type="text" class="form-control" id="updateName" name="updateName" placeholder="Please enter your new preferred name" required />
                        <button class="btn" type="submit">Change</button>
                    </div>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <h5>Delete account</h5>
            </div>
            <div class="collapsible-body">
                <button id="deleteAccount">Delete account</button>
                <div class="hidden" id="confirmDeleteUser">
                    <form action="{{(url_for('delete_user'))}}" method="POST">
                        <input type="password" name="deletePassword" placeholder="Enter password to delete account" />
                        <button class="btn" type="submit">Confirm delete</button>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>

{% endblock %}
