{% extends 'base.html'%} {% block content %}

<h1 class="page-header">Settings</h1>

{% with messages = get_flashed_messages() %}
    {% if messages%}
        {% for message in messages %}
            <h3 class="settings-message">{{ message }}</h3>
        {% endfor %}
    {% endif %}
{% endwith %}

<div>
    <ul class="collapsible settings-collapsible">
        <li>
            <div class="collapsible-header settings-header">
                <h5 class="mb-0"><i class="material-icons">vpn_key</i>Change password </h5>
            </div>
            <div class="collapsible-body">
                <form action="{{url_for('changeDetails')}}" method="POST">
                    <div>
                        <input class="hidden" type="text" name="changeType" value="password" />

                        <label for="confirmCurrentPass">Current password
                        <input type="password" class="form-control" id="confirmCurrentPass" name="confirmCurrentPass" placeholder="Please enter your current password" required />
                        </label>

                        <label for="updatePassword">New password
                        <input type="password" class="form-control" id="updatePassword" name="updatePassword" placeholder="Please enter your new password" required />
                        </label>
                        <button class="btn" type="submit">Change</button>
                    </div>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header settings-header">
                <h5 class="mb-0"><i class="material-icons">email</i>Change email</h5>
            </div>
            <div class="collapsible-body">
                <div id="changeEmailForm" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#changeDetailsAccordian">
                    <div class="card-body">
                        <form action="{{url_for('changeDetails')}}" method="POST">
                            <div>
                            
                                <input class="hidden" type="text" name="changeType" value="email" />
                                <input type="email" class="form-control" id="updateEmail" name="updateEmail" placeholder="Please enter your new email" required />
                                 <label>Current email: {{ user_email }}</label>
                                <button class="btn" type="submit">Change</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header settings-header">
                <h5 class="mb-0"><i class="material-icons">edit</i>Change preferred name</h5>
            </div>

            <div class="collapsible-body">
                <form action="{{url_for('changeDetails')}}" method="POST">
                    <div>
                        <input class="hidden" type="text" name="changeType" value="name" />
                        <input type="text" class="form-control" id="updateName" name="updateName" placeholder="Please enter your new preferred name" required />
                        <label>Current preferred name: {{ preferred_name.capitalize() }}</label>
                        <button class="btn" type="submit">Change</button>
                    </div>
                </form>
            </div>
        </li>
        <li>
            <div class="collapsible-header settings-header">
                <h5 class="mb-0"><i class="material-icons">delete</i>Delete account</h5>
            </div>
            <div class="collapsible-body">
                <div id="confirmDeleteUser">
                    <form action="{{(url_for('delete_user'))}}" method="POST">
                        <input type="password" name="deletePassword" placeholder="Enter password to delete account" />
                        <button class="btn" type="submit">Confirm delete</button>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>

{% endblock %}
