{% extends 'base.html'%} {% block content %}

<h1>Settings</h1>

<div class="accordion md-accordion" id="changeDetailsAccordian" role="tablist" aria-multiselectable="true">
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="changePassword">
      <a data-toggle="collapse" data-parent="#changeDetailsAccordian" href="#changePasswordForm" aria-expanded="false"
        aria-controls="collapseOne1">
        <h5 class="mb-0">
          Change password <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="changePasswordForm" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
      data-parent="#changeDetailsAccordian">
      <div class="card-body">
         <form action="" method="POST">
            <div class="form-group">
                <label for="confirmCurrentPass">Current password</label>
                <input type="password" class="form-control" id="confirmCurrentPass" name="confirmCurrentPass" placeholder="Please enter your current password" required>
                <label for="updatePassword">New password</label>
                <input type="password" class="form-control" id="updatePassword" name="updatePassword" placeholder="Please enter your new password" required>
                <button type="submit">Change</button>
            </div> 
          </form>
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="changeEmail">
      <a class="collapsed" data-toggle="collapse" data-parent="#changeDetailsAccordian" href="#changeEmailForm"
        aria-expanded="false" aria-controls="collapseTwo2">
        <h5 class="mb-0">
          Change email <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="changeEmailForm" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
      data-parent="#changeDetailsAccordian">
      <div class="card-body">
        <p>Old email from db</p>
        <form action="" method="POST">
            <div class="form-group">
                <label for="updateEmail">New password</label>
                <input type="password" class="form-control" id="updateEmail" name="updateEmail" placeholder="Please enter your new email" required>
                <button type="submit">Change</button>
            </div> 
          </form>
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="changeName">
      <a class="collapsed" data-toggle="collapse" data-parent="#changeDetailsAccordian" href="#changeNameForm"
        aria-expanded="false" aria-controls="collapseThree3">
        <h5 class="mb-0">
          Change preferred name <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="changeNameForm" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
      data-parent="#changeDeatilsAccordian">
      <div class="card-body">
        <form action="" method="POST">
            <div class="form-group">
                <label for="updateName">New preferred name</label>
                <input type="password" class="form-control" id="updateName" name="updateName" placeholder="Please enter your new preferred name" required>
                <button type="submit">Change</button>
            </div> 
        </form>
        
      </div>
    </div>

  </div>
  <!-- Accordion card -->

</div>
<!-- Accordion wrapper -->

<button id="deleteAccount">Delete account</button>
<div>
    <input type="password" name="deletePassword" placeholder="Enter password to delete account">
    <a href="{{(url_for('delete_user'))}}">Confirm delete</a>
</div>


{% endblock %}