{% extends 'base.html'%} {% block content %}

<h3 class="page-header">Signing up is the first step. <br> Thank you.</h3>
{% with messages = get_flashed_messages() %}
    {% if messages%}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="form-wrapper">
    <form action="{{ url_for('creating_user') }}" method="POST">
        <div class="input-field">
            <p id="email_taken"></p>
            <label for="email">Email address</label>
            <input type="email" class="" id="email" name="new_username" placeholder="name@example.com" required>
            <span class="hidden" id="validatedEmail">Tick!</span>
        </div>        
        <div class="input-field">
           
            <label for="password" class="">Password</label>
            <span id="passwordHint" class="tooltipped" data-position="right" data-tooltip="Password must have a number, capital letter and be 8 or more chatacters."><i class="material-icons">lightbulb_outline</i></span>
            <div class="" id="seePassword"><i class="material-icons">remove_red_eye</i></div>
            <input type="password" id="password" name="new_password" placeholder="Password" required>
            <span class="hidden" id="validatedPassword"><i class="material-icons">check_circle</i></span>
        </div>
           
    
            <label for="confirmPassword">
                <input id="confirmPassword" type="checkbox" required>
                <span>Checked password?</span>
                
            </label>
    
        <div class="btn-wrapper">
        <button id="signupButton" type="submit" name="action" data-toggle="modal" data-target="#exampleModal">Sign Up!</button>
        </div>
    </form>
</div>

<script> 
var v = {{list_existing_emails|tojson}}
console.log(v)
console.log(v[1])

var inputBox = document.getElementById('email');

inputBox.onkeyup = function(){
    user_email_input = inputBox.value;
        if (v.includes(user_email_input)){
            document.getElementById('email_taken').innerHTML = "Sorry this email is already registered!"
            document.getElementById("signupButton").disabled = true;
        } else {
            console.log("no match yet")
            console.log(user_email_input)
            document.getElementById('email_taken').innerHTML = ""
            document.getElementById("signupButton").disabled = false;
        }
    }

</script>
{% endblock %}