{% extends 'base.html'%} {% block content %}

<h1>Your journey to making a difference starts here.</h1>

    <form action="{{ url_for('creating_user') }}" method="POST">
        <div class="form-group">
            <p id="email_taken"></p>
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="new_username" placeholder="name@example.com">
            <span class="hidden" id="validatedEmail">Tick!</span>
        </div>        
        <div class="form-group">
            <label for="password" class="">Password</label>
            <input type="password" class="form-control" id="password" name="new_password" placeholder="Password">
            <span class="hidden" id="validatedPassword">Tick!</span>
        </div>
        <div class="form-group">
            <label for="confirmedPassword" class="">Confirm password</label>
            <input type="password" class="form-control" id="confirmedPassword" placeholder="Confirm password"><span class="hidden" id="passwordMatch">Tick!</span>
        </div>
        <div class="form-group">
            <label for="preferredName" class="">Preferred Name </label>
            <input type="text" class="form-control" id="preferredName" name="preferred_name" placeholder="Preferred Name">
        </div>
        <button id="signupButton" type="submit" name="action">Sign Up!</button>
    </form>

<script> 
var v = {{list_existing_emails|tojson}}
console.log(v)
console.log(v[1])

var inputBox = document.getElementById('email');

inputBox.onkeyup = function(){
    user_email_input = inputBox.value;
        if (v.includes(user_email_input)){
            document.getElementById('email_taken').innerHTML = "Sorry this email is already registered!"
            document.getElementById("signupButton").disabled = true;
        } else {
            console.log("no match yet")
            console.log(user_email_input)
            document.getElementById('email_taken').innerHTML = ""
            document.getElementById("signupButton").disabled = false;
        }
    }

</script>
{% endblock %}