{% extends 'base.html'%} {% block content %}

<h3 class="page-header">This is the report you have chosen to edit.</h3>
    <div class="card bg-primary text-white">
        
        <div class="result-info-wrapper">
            <div class="result-info-separator">
            <p class="result-info">Category:</p>
            <p class="result-info">{{report.category_name}}</p> 
            </div>
             <div class="result-info-separator">
            <p class="result-info">Incident Description:</p> 
            <p class="result-info">{{report.incident_description}}</p>
                   </div>
            {% if report.building != "" %}
             <div class="result-info-separator">
                <p class="result-info">Building:</p>
                 <p class="result-info">{{report.building}}</p>
                        </div>
            {% endif %} 
            {% if report.street != "" %}
             <div class="result-info-separator">
                <p class="result-info">Street:</p> 
                <p class="result-info">{{report.street}}</p>
                       </div>
            {% endif %} 
            {% if report.county != "" %}
             <div class="result-info-separator">
                <p class="result-info">City:</p>
                 <p class="result-info">{{report.city}}</p>
                        </div>
            {% endif %}
            {% if report.county != "" %}
             <div class="result-info-separator">
                <p class="result-info">County:</p>
                 <p class="result-info">{{report.county}}</p>
                        </div>
            {% endif %} 
            {% if report.postcode != "" %}
             <div class="result-info-separator">
                <p class="result-info">Postcode:</p> 
                <p class="result-info">{{report.postcode}}</p>
                       </div>
            {% endif %} 
             <div class="result-info-separator">
            <p class="result-info">Date:</p> 
            <p class="result-info">{{report.date}}</p>
                   </div>
             <div class="result-info-separator">
            <p class="result-info">Reported to the authorities:</p>
             <p class="result-info">{{report.report_to_authorities}}</p>
                    </div>
        </div>
    </div>
    
<form method="POST" action="{{ url_for('edit_report', report_id=report._id) }}">
        <div class="input-field hidden">
                <label for="email"></label>
                <input type="text" class="" id="email" name="email" value="{{currentUserEmail}}" placeholder="Email">
            </div>         
            <div class="input-field">
                <select class="" id="category" name="category_name">
                <option selected value="{{report.category_name}}">{{report.category_name}}</option> 
                {% for category in categories %}
                        <option id="{{category.category_name}}" value="{{category.category_name}}">{{category.category_name}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="input-field">
                <textarea class="materialize-textarea" id="incident_description" name="incident_description" placeholder="Incident description">{{report.incident_description}}</textarea>
            </div>
            <div class="input-field">
                
                <input type="text" value="{{report.building}}" class="" id="building" name="building" placeholder="Building">
          
                <input type="text" value="{{report.street}}" class="" id="street" name="street" placeholder="Street">
                <input type="text" value="{{report.city}}" class="" id="city" name="city" placeholder="City" required>
                <input type="text" value="{{report.county}}" class="" id="county" name="county" placeholder="County">
                <input type="text" value="{{report.postcode}}" class="" id="postcode" name="postcode" placeholder="Postcode">
            </div>
             <div class="input-field">
                        <label for="Date">Date</label>
                        <input type="text" name="date" id="date" value="{{report.date}}" class="datepicker">
                    </div>
            <div>
            
                <select class="" id="update_report_to_authorities" name="report_to_authorities" required>
                    <option disabled selected value="">Reported to authorities?</option>
                    
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                
                </select>
            </div>
            <div class="btn-wrapper">
            <button class="btn" type="submit" name="action">Add report</button>
            </div>
    </form>


{% endblock %}