{% extends 'base.html'%} {% block content %}

<div class="btn btn-secondary"><a href="{{url_for('logout')}}"> Logout</a></div> 
<a href="{{url_for('userSetting')}}">Settings</a> 

<h1>Welcome back</h1>


  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">add_circle</i>Create a new report</div>
      <div class="collapsible-body">
        <form method="POST" action="{{ url_for('insert_report') }}">
            <div class="form-group hidden">
                <label for="email"></label>
                <input type="text" class="form-control" id="email" name="email" value="{{currentUserEmail}}" placeholder="Email">
            </div>         
            <div class="form-group">
                <select class="form-control" id="category" name="category_name">
                <option disabled selected value="">Choose category</option> 
                {% for category in categories %}
                        <option id="{{category.category_name}}" value="{{category.category_name}}">{{category.category_name}}</option>
                {% endfor %}
                </select>
            </div>
            <div id="addCategoryChoice" class="form-group">
                <textarea class="form-control" id="otherCategory" name="new_category_name" placeholder="Please enter a new category"></textarea>
            </div>
            <div id="subCategoryChoices" class="form-group">
            
                <select class="form-control" id="sub_category" name="sub_category">
                    <option disabled selected value="">If Xenophobia then choose sub-category</option>

                    {% for sub in sub_category %}
                        <option value="{{sub.sub_category}}">{{sub.sub_category}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="addSubCategoryChoice" class="form-group">
                <textarea class="form-control" id="otherSubCategory" name="new_sub_category" placeholder="Please enter a new sub category"></textarea>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="incident_description" name="incident_description" placeholder="Incident description"></textarea>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="building" name="building" placeholder="Building">
                <input type="text" class="form-control" id="street" name="street" placeholder="Street">
                <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                <input type="text" class="form-control" id="county" name="county" placeholder="County">
                <input type="postal" class="form-control" id="postcode" name="postcode" placeholder="Postcode">
            </div>
            <div>
            <label for="authorities">Reported to the authorities?</label>
                <select class="form-control" id="update_report_to_authorities" name="report_to_authorities" required>
                    <option disabled selected value="">Please choose</option>
                    
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                
                </select>
            </div>
            <button type="submit" name="action">Add report</button>
        </form>
      
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">text_snippet</i>Manage old reports</div>
      <div class="collapsible-body">
        
        <div class="row">
            <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                <span class="card-title">Managing reports</span>
                <form method="POST" action="{{ url_for('insert_report') }}">
                    <label for="userSearchOwnSeeAll">
                            <input id="userSearchOwnSeeAll" type="radio" name="userSearchOwnReports" value="seeAllReports">
                            <span>Show all of my reports</span>
                    </label>
                    <label for="userSearchOwnbyLocation">
                            <input id="userSearchOwnbyLocation" type="radio" name="userSearchOwnReports" value="seeReportByLocation">
                            <span>Search my reports by location</span>
                    </label>
                    <label for="userSearchOwnbyDate">
                            <input id="userSearchOwnbyDate" type="radio" name="userSearchOwnReports" value="seeReportByDate">
                            <span>Search my reports by date</span>
                    </label>
                    <label for="userSearchOwnbyDiscrimination">
                            <input id="userSearchOwnbyDiscrimination" type="radio" name="userSearchOwnReports" value="seeReportByDiscrimination">
                            <span>Search my reports by discrimination</span>
                    </label>
                
                </div>
                <div class="card-action">
                <a href="#"><i class="material-icons">text_snippet</i>Read reports</a>
                <a href="#"><i class="material-icons">edit</i>Edit reports</a>
                </div>
                </form>
            </div>
            </div>
        </div>
        
        <div class="input-field col s12">
            <select>
                <option value="" disabled selected>Type of discrimination</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>Materialize Select</label>
        </div>

        <div class="input-field col s12">
            <select>
                <option value="" disabled selected>Location</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>Materialize Select</label>
        </div>


        <input type="text" class="datepicker">

        
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">search</i>Search our database</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
  

  

{% endblock %}