{% extends 'base.html'%} {% block content %}

<div class="btn btn-secondary"><a href="{{url_for('logout')}}"> Logout</a></div> 
<a href="{{url_for('userSetting')}}">Settings</a> 

<h1>Welcome back</h1>


  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">add_circle</i>Create a new report</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">text_snippet</i>Read old reports</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Update an old report</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Search our database</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
  

  

{% endblock %}